.movie-filter-select-container {
  padding: 5px 20px;
  margin-bottom: 20px;
}

.movie-filter-select__control {
  height: 50px !important;
  background-color: transparent !important;
}

.movie-filter-select__menu-list {
  background-color: var(--main-card-bg-color);
}

.movie-filter-select__placeholder {
  color: #FFF !important;
}

.movie-filter-select__indicator-separator {
  display: none;
}

.movie-filter-select__option--is-focused {
  background-color: limegreen !important;
}

.movie-filter-select__multi-value {
  background-color: var(--main-bg-color) !important;
}

.movie-filter-select__multi-value__label {
  color: #FFF !important;
}

@media(min-width: 576px) {
  .movie-filter-select__control, .movie-filter-select__menu {
    width: 55% !important;
  }
}

@media(min-width: 768px) {
  .movie-filter-select__control, .movie-filter-select__menu {
    width: 50% !important;
  }
}

@media(min-width: 992px) {
  .movie-filter-select__control, .movie-filter-select__menu {
    width: 45% !important;
  }
}

@media(min-width: 1200px) {
  .movie-filter-select__control, .movie-filter-select__menu {
    width: 40% !important;
  }

  .movie-filter-select-container {
    padding: 10px 20px;
  }
}