@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-font-color: #ffff;
  --secondary-font-color: #9e9e9e;
  --primary-color: #ffc700;
  --main-bg-color: #525252;
  --main-card-bg-color: #6c6c6c;
}

* {
  color: var(--primary-font-color);
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.015em;
}

body {
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.2rem;
}

.button {
  cursor: pointer;
}

.base-card {
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.base-input {
  width: 100%;
  border: 1px solid #fefefe;
  box-sizing: border-box;
  border-radius: 4px;
  height: 47px;
  padding-left: 10px;
  color: #000000;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.6rem;
  }
  
  h2 {
    font-size: 2.8em;
  }  
}
