.movie-list-container {
  padding: 15px;
}

.movie-list-container h2 {
  margin-bottom: 40px;
}

.movie-list-list {
  font-size: 1.1rem;
}

.movie-list-item {
  margin-bottom: 15px;
}

.movie-list-select-container {
  padding: 5px 20px;
  margin-bottom: 20px;
}

.movie-list-select__control {
  height: 50px !important;
  background-color: transparent !important;
}

.movie-list-select__menu-list {
  background-color: var(--main-card-bg-color);
}

.movie-list-select__placeholder {
  color: #FFF !important;
}

.movie-list-select__indicator-separator {
  display: none;
}

@media(min-width: 576px) {
  .movie-list-item {
    margin-bottom: 15px;
  }

  .movie-list-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }

  .movie-list-select__control {
    width: 50%;
  }
}

@media(min-width: 768px) {
  .movie-list-select__control {
    width: 45%;
  }
}

@media(min-width: 992px) {
  .movie-list-list {
    font-size: 1.5rem;
  }

  .movie-list-item {
    margin-bottom: 20px;
  }

  .movie-list-select__control {
    width: 37%;
  }
}

@media(min-width: 1200px) {
  .movie-list-container {
    padding: 25px 60px;
  }

  .movie-list-grid {
    grid-template-columns: auto auto auto auto;
  }

  .movie-list-select__control {
    width: 30%;
  }

  .movie-list-select-container {
    padding: 10px 20px;
  }
}