.movie-card-container {
  padding: 20px 0;
}

.movie-card-img-container img {
  width: 100%;
}

.movie-card-img-container-synopsis {
  padding: 0 15px;
}

.movie-card-info-container {
  padding: 5px 15px 15px 15px;
}

.movie-card-year-container {
  color: var(--primary-color);
}

.movie-card-subtitle-container {
  font-size: 0.9rem;
}

.movie-card-synopsis-container {
  padding: 10px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 10px;
  color: #9E9E9E;
  margin-top: 15px;
}

@media(min-width: 768px) {
  .movie-card-img-container {
    text-align: center;
  }
  
  .movie-card-img-container img {
    width: 80%;
  }
}

@media(min-width: 992px) {
  .movie-card-container-synopsis {
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .movie-card-img-container img {
    width: 100%;
  }
}